# env configuration
NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://user:password@localhost:5432/pawnpool
MOCK_CHAIN=true

RPC_ETHEREUM_SEPOLIA=https://ethereum-sepolia-rpc.publicnode.com
RPC_BASE_SEPOLIA=https://sepolia.base.org
PRIVATE_KEY=your_private_key_without_0x
TREASURY_ADDRESS=your_developer_wallet_address
CONTRACT_OWNER_ADDRESS=your_operator_wallet_address

# Frontend Vercel config
NEXT_PUBLIC_CHECKMATE_BET_ADDRESS=0xe0fC3B1C78a1B0eC96eFB8A5E4C060E7B69DDc03
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000

ADMIN_API_KEY=pawn_pool_admin_key_123
JWT_SECRET=pawn_pool_jwt_secret_999
GROQ_API_KEY=your_groq_api_key
